---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon/components'
import PageHeader from '../components/PageHeader.astro'
import {
  Accordion,
  AccordionItem,
  Heading,
} from 'accessible-astro-components'

const components = [
  { name: 'Accordion', id: 'accordion' },
  { name: 'Avatar', id: 'avatar' },
  { name: 'Badge', id: 'badge' },
  { name: 'Breadcrumbs', id: 'breadcrumbs' },
  { name: 'Button', id: 'button' },
  { name: 'Card', id: 'card' },
  { name: 'Dark mode toggle', id: 'darkmode' },
  { name: 'Form', id: 'form' },
  { name: 'Heading', id: 'heading' },
  { name: 'High contrast toggle', id: 'highcontrast' },
  { name: 'Link', id: 'link' },
  { name: 'Media', id: 'media' },
  { name: 'Modal', id: 'modals' },
  { name: 'Notification', id: 'notification' },
  { name: 'Pagination', id: 'pagination' },
  { name: 'Reduced motion toggle', id: 'reducedmotion' },
  { name: 'Skip link', id: 'skiplink' },
  { name: 'Tabs', id: 'tabs' },
  { name: 'Video', id: 'video' },
]
---

<DefaultLayout title="ANEA Beauty & Spa">
  <section class="my-10">
    <PageHeader 
      title="HEAD SPA TREATMENT"
      subtitle='ANEA Beauty& Spa is a calming space designed for deep relaxation and gentle care. Our beauty and spa treatments focus on slow touch, comfort, and restoring balance for both skin.
        Quiet space, Gentle touch, No pressure selling'
      bgType="bordered" />
  </section>
  <section class="mt-32 mb-12">
    <div class="components container">

      <div class="my-2">
        <Heading level="h2">🌿 Head Spa Treatments</Heading>
        <Accordion>
          <AccordionItem title="ANEA Refresh Scalp Ritual – 30 mins" variant="chevron">
            <p><s>$50 CAD</s> → $40 CAD</p>
            <p>
              <strong>Hair wash & Massage</strong>: A gentle, thorough shampoo accompanied by a relaxing scalp massage to improve circulation, relieve tension, and promote relaxation.
            </p>
            <p>
              <strong>Conditioning/Treatment</strong>: Application of a targeted treatment mask or conditioner to hydrate and restore balance to the scalp and hair. Blow-dry and a final soothing scalp application.
            </p>
          </AccordionItem>
          <AccordionItem title="ANEA Restore Scalp Ritual – 45 mins" variant="chevron">
            <p><s>$70 CAD</s> → $55 CAD</p>
            <p>
              Hair wash, scalp massage, neck & shoulder relaxation is a condensed, therapeutic, and luxurious treatment focused on deeply cleansing the scalp while simultaneously providing profound, relaxation. This service often acts as a "mini-vacation" or a quick "reset" for the senses, targeting stress relief, improved circulation, and scalp health through a combination of techniques, such as treatments, aromatherapy, and expert massage. focused, relaxing scalp, neck, and shoulder . With a Japanese waterfall shower rinses the hair, providing a soothing, meditative sensation. A light blow-dry (or sometimes hair is left damp) and a final, soothing scalp application (e.g. serum or oil smoothies)
            </p>
          </AccordionItem>
          <AccordionItem title="ANEA Revieve Scalp Ritual – 60 mins" variant="chevron">
            <p>
              <s>$90 CAD</s> → $75 CAD
            </p>
            <p>
              Herbal wash, scalp massage neck and shoulder by hot stones & relaxation is a, luxurious, therapeutic, and, in-depth, scalp-focused, treatment, that, blends, Eastern, wellness, techniques, with, deep-cleansing, to, rejuvenate, both, hair, and, mind. extensive, massage, to alleviate stress while balancing the scalp's natural ecosystem.
            </p>
            <p>Hair wash, scalp massage neck & shoulder relaxation</p>
            <p>
              <strong>Hot stones Compress</strong>: A warm stone is move around the neck and shoulders to open pores and deeply relax muscles
            </p>
            <p>
              <strong>Steam Therapy</strong>: steam to enhance the absorption of nourishing hair masks or serum
            </p>
            <ul>
              <li>
                <strong>Aroma therapy</strong>: The experience is accompanied by calming scents to provide a mental escape.
              </li>
              <li><strong>Conditioning</strong>: A moisturizing treatment or serum is applied to restore, and hydrate.</li>
              <li>
                <strong>Finish</strong>: A quick and light blow-dry is provided to leave you feeling refreshed and ready to go.
              </li>
            </ul>
          </AccordionItem>
          <AccordionItem title="ANEA Deep Rejuvenate Scalp Ritual – 75 mins" variant="chevron">
            <p>
              <s>$105 CAD</s> → $90 CAD
            </p>
            <p>
              Deep head spa therapy, pressure points, full relaxation are creates a "top-to-toe" luxurious, holistic treatment combining Japanese-inspired scalp therapy with intensive stress relief. It features a detailed deep detoxification, specialized pressure point massage, leaving hair revitalized and the mind profoundly relaxed. 
            </p>
            <ul>
              <li>
                <strong>Deep Cleansing & Detox</strong>: Specialized treatments remove cellular buildup, dandruff, and excess sebum, restoring scalp health.
              </li>
              <li>
                <strong>Pressure Point Massage</strong>: Rhythmic, deep-pressure, and massage techniques target meridians in the head, neck, and shoulders to release tension, boost blood circulation, and activate the parasympathetic nervous system.
              </li>
              <li><strong>Water Therapy (ASMR)</strong>: A soothing water waterfall used for relaxation, providing a calming, sensory experience.</li>
              <li>
                <strong>Aromatherapy & Nourishment</strong>: Essential oils, steaming, and nourishing masks are applied to hydrate hair and enhance relaxation.
              </li>
              <li>
                <strong>Scalp Health</strong>: Removes impurities, dandruff, and oil buildup.
              </li>
              <li>
                <strong>Tension Relief</strong>: Eases headaches and muscle stiffness in the neck and shoulders.
              </li>
              <li>
                <strong>Hot Towel Finish</strong>: A warm towel is often used to soothe the neck and head, helping to release remaining
              </li>
            </ul>
            <p>
              This treatment is ideal for those seeking a "reset" for their mind and hair, focusing on restoring balance through a holistic approach.
            </p>
          </AccordionItem>
        </Accordion>
      </div>

      <div class="my-2">
        <Heading level="h2">🌸 FACIAL TREATMENT</Heading>
        <Accordion>
          <AccordionItem title="🪴Glo + Go Facial – 30 mins" variant="chevron">
            <p>
              <s>$55 CAD</s> → $45 CAD
            </p>
            <p>
              It is designed to provide a quick boost to the skin's appearance and hydration without the extensive steps of a full facial treatment, a mini facial offers cleansing, exfoliation, and hydration to refresh the skin.
            </p>
          </AccordionItem>
          <AccordionItem title="🌺Skin refresh Facial – 45 mins" variant="chevron">
            <p>
              <s>$75 CAD</s> → $60CAD
            </p>
            <p>
              Deep cleansing & relaxation
            </p>
            <p>
              Deep cleansing facials are a multi-step skin treatment that can include exfoliation, face masks, cleansing, a facial massage, steam, and a variety of creams and lotions. There are a variety of facials that are chosen depending on your specific skin issues and skin type.
            </p>
            <p>
              <strong>Finishing Products</strong>: Application of nutrient-rich serums, moisturizers, and SPF to protect the skin and boost hydration
            </p>
          </AccordionItem>
          <AccordionItem title="🌻Hydrating Facial – 60 mins " variant="chevron">
            <p>
              <s>$95 CAD</s> → $80CAD
            </p>
            <p>
              Deep hydration, soothing & skin refreshing
            </p>
            <ul>
              <li><strong>Double Cleanse</strong>: Removes surface impurities and makeup, often using gentle, hydrating cleansers to avoid stripping the skin.</li>
              <li><strong>Exfoliation</strong>: Gentle exfoliation, such as enzyme peels or mild scrubs, removes dead skin cells, allowing hydrating serums to penetrate deeper.</li>
              <li><strong>Steam & Extractions</strong>: Warm steam opens pores for, if needed, light, gentle, and precise extractions.</li>
              <li><strong>Intense Hydration Serum</strong>: Application of concentrated serums rich in humectants like hyaluronic acid to deeply plump the skin.</li>
              <li><strong>Hydrating Mask</strong>: A specialized, deep-nourishing mask (often a jelly, alginate, or collagen-based mask) is applied to lock in moisture.</li>
              <li><strong>Finishing Products</strong>: Application of eye cream, antioxidant serum, and SPF to lock in results</li>
            </ul>
          </AccordionItem>
          <AccordionItem title="🌟ANEA Glow Facial – 75 mins" variant="chevron">
            <p>
              <s>$115 CAD</s> → 95 CAD
            </p>
            <p>
              Brightening, nourishing & deep relaxation
            </p>
            <ul>
              <li><strong>Deep Cleansing & Relaxation</strong>: A thorough, double cleanse to remove impurities. The extended time allows for a more relaxing experience, often incorporating massage for the face, neck, and décolleté.</li>
              <li><strong>Intensive Exfoliation</strong>: Procedures often include derma-planing, and detox. Features active enzymes and light peels to target acne and scarring. Transformative chemical peel (like Lactic Acid or enzyme peels) to resurface the skin.</li>
              <li><strong>Oxygen & Infusion Therapy</strong>: A key element of many glow facials is oxygen infusion, which delivers vitamins, and minerals. Combines microdermabrasion with cooling and warming elements to refresh the skin and antioxidants into the skin to brighten and hydrate</li>
              <li><strong>Sculpting Massage</strong>: Using Rose Quartz Gua Sha, jade rollers, and ice globes—to boost circulation, stimulate collagen, reduce puffiness, lifting and defining facial contours</li>
              <li><strong>Targeted Enhancements</strong>: Some sessions include LED light therapy (red for collagen, blue for calming) or high-frequency treatments to further refine skin texture.</li>
              <li><strong>Final Nourishment</strong>: Application of serums, moisturizer, and SPF to protect the freshly treated skin.</li>
            </ul>
          </AccordionItem>
        </Accordion>
      </div>

      <div class="my-2">
        <Heading level="h2">SIGNATURE RITUAL</Heading>
        <Accordion>
          <AccordionItem title="🌱The Renewal - 60 mins" variant="chevron">
            <p>
              <s>$105 CAD</s> → $80 CAD
            </p>
            <p>Mini head Spa+ mini facial</p>
          </AccordionItem>
          <AccordionItem title="🪷The Radiane – 90 mins" variant="chevron">
            <p>
              <s>$145 CAD</s> → $110 CAD
            </p>
            <p>Head Spa + Gentle Facial</p>
          </AccordionItem>
          <AccordionItem title="🌴The Luminous Ritual – 110 mins" variant="chevron">
            <p>
              <s>$185 CAD</s> → $140 CAD
            </p>
            <p>Herbal Head Spa + Hydrating Facial</p>
          </AccordionItem>
          <AccordionItem title="🌳The Crown Ceremony – 130 mins" variant="chevron">
            <p>
              <s>$215 CAD</s> → $160 CAD
            </p>
            <p>Deep Head Spa + ANEA Glow Facial</p>
          </AccordionItem>
        </Accordion>
      </div>

      <div class="my-2">
        <Heading level="h2">Packages</Heading>
        <ul>
          <li>Buy 5 Head Spa sessions, get 1 FREE</li>
          <li>Buy 5 Facial sessions, get 10% off</li>
          <li>Referr a friend and get 10% off your next visit</li>
        </ul>
      </div>

      <div class="=y-2">
        <Heading level="h2">Extra Services</Heading>
        <ul>
          <li>Extra Massage (head, neck, shoulder) → $10 CAD</li>
          <li>Hand Mask → $5 CAD</li>
          <li>Hair Mask → $5 CAD</li>
          <li>Head Scalp Exfoliation → $10 CAD</li>
          <li>Foot Detox → $15 CAD</li>
        </ul>
      </div>

    </div>
  </section>
</DefaultLayout>
