---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon/components'
import PageHeader from '../components/PageHeader.astro'
import {
  Accordion,
  AccordionItem,
  Heading,
} from 'accessible-astro-components'

const components = [
  { name: 'Accordion', id: 'accordion' },
  { name: 'Avatar', id: 'avatar' },
  { name: 'Badge', id: 'badge' },
  { name: 'Breadcrumbs', id: 'breadcrumbs' },
  { name: 'Button', id: 'button' },
  { name: 'Card', id: 'card' },
  { name: 'Dark mode toggle', id: 'darkmode' },
  { name: 'Form', id: 'form' },
  { name: 'Heading', id: 'heading' },
  { name: 'High contrast toggle', id: 'highcontrast' },
  { name: 'Link', id: 'link' },
  { name: 'Media', id: 'media' },
  { name: 'Modal', id: 'modals' },
  { name: 'Notification', id: 'notification' },
  { name: 'Pagination', id: 'pagination' },
  { name: 'Reduced motion toggle', id: 'reducedmotion' },
  { name: 'Skip link', id: 'skiplink' },
  { name: 'Tabs', id: 'tabs' },
  { name: 'Video', id: 'video' },
]
---

<DefaultLayout title="ANEA Beauty & Spa">
  <section class="my-10">
    <PageHeader 
      title="HEAD SPA TREATMENT"
      subtitle='ANEA Beauty& Spa is a calming space designed for deep relaxation and gentle care. Our beauty and spa treatments focus on slow touch, comfort, and restoring balance for both skin.
        Quiet space, Gentle touch, No pressure selling'
      bgType="bordered" />
  </section>
  <section class="mt-32 mb-12">
    <div class="components container">

      <div class="my-2">
        <Heading level="h2">Head Spa Rituals</Heading>
        <Accordion>
          <AccordionItem title="Signature Head Spa Treatment – $105" variant="chevron">
            <p>
              90 min
            </p>
            <p>
              Rhythmic, deep-clensing massage for circulation and clarity
            </p>
          </AccordionItem>
          <AccordionItem title="Nourishing Hair Mask Ritual - $95" variant="chevron">
            <p>
              75 min
            </p>
            <p>
              A deeply hydrating mask and soothing scalp massage designed to replenish moisture and restore your hair's natural shine
            </p>
          </AccordionItem>
          <AccordionItem title="Restore Scalp Ritual - $80" variant="chevron">
            <p>
              60 min
            </p>
            <p>
              An extended purifying treatment and targeted massage designed to remove build-up, an dstimulate circulation.
            </p>
          </AccordionItem>
          <AccordionItem title="Refresh Scalp Ritaul (Express) - $60" variant="chevron">
            <p>
              45 min
            </p>
            <p>
              Targeted massage for crown, temple, and neck.
            </p>
          </AccordionItem>
        </Accordion>
      </div>

      <div class="my-2">
        <Heading level="h2">Facial Rejuventation</Heading>
        <Accordion>
          <AccordionItem title="The Anea Facial Treatment - $110" variant="chevron">
            <p>
              80 min
            </p>
            <p>
              Awaken a youthful, radian complexion with hight-performance botanicals and an extended, depeply relaxing facial massage.
            </p>
          </AccordionItem>
          <AccordionItem title="The Anea Signature - $90" variant="chevron">
            <p>
              60 min
            </p>
            <p>
              Deep-pore cleansing and a nourishing botanical mask for total skin rejuventation.
            </p>
          </AccordionItem>
          <AccordionItem title="Calm and Clense Ritual - $70" variant="chevron">
            <p>
              45 min
            </p>
            <p>
              Botantical cleansing with a targeted lymphatic drainage massage to brighten the skin
            </p>
          </AccordionItem>
          <AccordionItem title="The Glow - $50" variant="chevron">
            <p>
              30 min
            </p>
            <p>
              A revitalizing, quick-lift tratment to cleanse and restore your nature, radian glow
            </p>
          </AccordionItem>
        </Accordion>
      </div>

      <div class="my-2">
        <Heading level="h2">Signature Ritual</Heading>
        <Accordion>
          <AccordionItem title="The Crown Ceremony - $160" variant="chevron">
            <p>
              135 min
            </p>
            <p>Anea glow facial and head massage for profound relaxation and complete radiance</p>
          </AccordionItem>
          <AccordionItem title="The Luminous - $140" variant="chevron">
            <p>
              115 min
            </p>
            <p>Hydrating facial and herbal head spa to resetore moisture and vital energy</p>
          </AccordionItem>
          <AccordionItem title="The Radian - $120" variant="chevron">
            <p>
              95 min
            </p>
            <p>A gental facial tratment paired with head spa to destress the mind and reveal your natural glow.</p>
          </AccordionItem>
          <AccordionItem title="The Renewal - $90" variant="chevron">
            <p>
              75 min
            </p>
            <p>A focused paring of mini facial and soothing hea spa to refresh your skin and spirit</p>
          </AccordionItem>
        </Accordion>
      </div>

      <div class="=y-2">
        <Heading level="h2">Enhancement and Add-Ons</Heading>
        <p>Extra Massage (head, neck, shoulder): $10 CAD</p>
        <p>Hand Mask: $5 CAD</p>
        <p>Hair Mask: $5 CAD</p>
        <p>Head Scalp Exfoliation: $10 CAD</p>
        <p>Foot Detox: $15 CAD</p>
        
      </div>

    </div>
  </section>
</DefaultLayout>
