---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '../components/PageHeader.astro'
import { Accordion, AccordionItem, Heading, Media } from 'accessible-astro-components'

---

<DefaultLayout title="ANEA Beauty & Spa">
  <section class="my-10">
    <PageHeader 
      title="HEAD SPA TREATMENT"
      subtitle='ANEA Beauty & Spa is a calming space designed for deep relaxation and gentle care. Our beauty and spa treatments focus on slow touch, comfort, and restoring balance for both skin.
        Quiet space, Gentle touch, No pressure selling'
      showBreadcrumbs={false}
      />
  </section>
  <section class="mt-10 mb-10">
    <div class="components container">

      <div class="my-2">
        <Heading level="h2">Head Spa Rituals</Heading>
        <Media 
          src="src/assets/img/hairwashing.jpeg"
          class="hidden md:flex h-150 my-8"
          ratio="16:9"/>
        <Accordion>
          <AccordionItem title="Signature Head Spa Treatment – $105" variant="chevron">
            <p>
              90 min
            </p>
            <p>
              The ultimate Anea sensory journey. This immersive 95-minute masterpiece combines ancient rhythmic massage with a meticulous deep-cleansing process. Designed to facilitate lymphatic drainage and profound mental stillness, this treatment goes beyond the surface to offer a complete energetic reset for the modern sou
            </p>
          </AccordionItem>
          <AccordionItem title="Nourishing Hair Mask Ritual - $95" variant="chevron">
            <p>
              75 min
            </p>
            <p>
              A dual-purpose sanctuary for both hair health and deep relaxation. Your strands are enveloped in a nutrient-rich, deeply hydrating botanical mask, paired with a soothing, slow-paced scalp massage. As the moisture-rich treatment restores shine and elasticity to your hair, your nervous system drifts into a state of total repose.
            </p>
          </AccordionItem>
          <AccordionItem title="Restore Scalp Ritual - $80" variant="chevron">
            <p>
              60 min
            </p>
            <p>
              A restorative deep-cleanse for the scalp’s ecosystem. This ritual features an extended purifying treatment designed to gently remove environmental build-up while stimulating micro-circulation at the follicle. Combined with a rhythmic massage, it provides a "breath of fresh air" for your scalp, leaving it balanced and revitalized.
            </p>
          </AccordionItem>
          <AccordionItem title="Refresh Scalp Ritaul (Express) - $60" variant="chevron">
            <p>
              45 min
            </p>
            <p>
              A focused, revitalizing escape designed to melt away the weight of the day. This ritual centers on the crown, temples, and neck, using targeted massage techniques and signature botanical oils. Perfect for a midday reset to release mental fatigue and restore clarity to the mind and body.
            </p>
          </AccordionItem>
        </Accordion>
      </div>

      <div class="my-2">
        <Heading level="h2">Facial Rejuventation</Heading>
        <Media 
          src="src/assets/img/facial.jpeg"
          class="hidden md:flex h-150 my-8"
          ratio="16:9"/>
        <Accordion>
          <AccordionItem title="The Anea Facial Treatment - $110" variant="chevron">
            <p>
              80 min
            </p>
            <p>
              The ultimate age-defying ritual for those seeking deep restoration. We combine high-performance botanicals with a signature, extended facial massage designed to lift, sculpt, and tone. By increasing circulation and infusing your skin with nutrient-dense serums, this treatment awakens a youthful, lasting radiance that glows from within.
            </p>
          </AccordionItem>
          <AccordionItem title="The Anea Signature - $90" variant="chevron">
            <p>
              60 min
            </p>
            <p>
              Our cornerstone ritual for total skin rejuvenation. This treatment focuses on deep-pore purification followed by a personalized botanical mask that acts as a moisture blanket for the skin. It balances your complexion and restores essential hydration, leaving your face feeling supple, clean, and perfectly refreshed.
            </p>
          </AccordionItem>
          <AccordionItem title="Calm and Clense Ritual - $70" variant="chevron">
            <p>
              45 min
            </p>
            <p>
              Designed for the modern, busy soul, this ritual targets inflammation and dullness. Following a gentle botanical cleanse, we perform a rhythmic lymphatic drainage massage to de-puff and detoxify the skin. It’s an efficient way to brighten your complexion and quiet your mind in under an hour.
            </p>
          </AccordionItem>
          <AccordionItem title="The Glow - $50" variant="chevron">
            <p>
              30 min
            </p>
            <p>
              The perfect "pick-me-up" for a luminous, instant lift. This revitalizing treatment is a concentrated burst of energy for tired skin. We focus on a deep cleanse and a quick-lift botanical infusion to restore your natural, dewy finish. Ideal as a pre-event glow or a routine monthly maintenance.
            </p>
          </AccordionItem>
        </Accordion>
      </div>

      <div class="my-2">
        <Heading level="h2">Signature Ritual</Heading>
        <Media 
          src="src/assets/img/ritual.jpeg"
          class="hidden md:flex h-150 my-8"
          ratio="16:9"/>
        <Accordion>
          <AccordionItem title="The Crown Ceremony - $160" variant="chevron">
            <p>
              135 min
            </p>
            <p>Our most prestigious and immersive offering. This ceremony is a full-sensory journey designed for total transformation. It begins with the Anea Glow Facial to sculpt and illuminate the complexion, seamlessly transitioning into an extended, meditative head massage. By addressing the primary tension points of the face, scalp, and neck, this ritual facilitates a state of profound relaxation and leaves you with an incomparable, head-to-toe radiance.</p>
          </AccordionItem>
          <AccordionItem title="The Luminous - $140" variant="chevron">
            <p>
              115 min
            </p>
            <p>A ritual of deep hydration and vital energy. This experience pairs a moisture-drenching botanical facial with a targeted herbal head spa treatment. As nutrient-rich infusions restore elasticity to your skin, the herbal scalp ritual works to clear mental fog and ground your spirit. You will leave feeling "Luminous"—balanced, hydrated, and deeply replenished from the inside out.</p>
          </AccordionItem>
          <AccordionItem title="The Radian - $120" variant="chevron">
            <p>
              95 min
            </p>
            <p>Designed to unburden the mind and reveal your natural light. This pairing features a gentle, calming facial treatment to soothe environmental stress, followed by a rhythmic head spa ritual. By focusing on steady, intentional movements and botanical aromatics, the Radiance ritual quietens the nervous system, allowing your natural, effortless glow to emerge.</p>
          </AccordionItem>
          <AccordionItem title="The Renewal - $90" variant="chevron">
            <p>
              75 min
            </p>
            <p>A concentrated awakening for the skin and spirit. This focused ritual is the perfect reset for those with limited time but a deep need for sanctuary. It combines a curated mini-facial to refresh the skin’s surface with a soothing, tension-melting head spa. It is a brief but powerful "Renewal" that clears the path for a brighter complexion and a lighter heart.</p>
          </AccordionItem>
        </Accordion>
      </div>

      <div class="my-2">
        <Heading level="h2">Enhancement and Add-Ons</Heading>
        <div class="columns-md">
          <p>Extra Massage (head, neck, shoulder): $10 CAD</p>
          <p>Hand Mask: $5 CAD</p>
          <p>Hair Mask: $5 CAD</p>
          <p>Head Scalp Exfoliation: $10 CAD</p>
          <p>Foot Detox: $15 CAD</p>
        </div>
      </div>

    </div>
  </section>
</DefaultLayout>